.arrayData {
  padding: 0 !important;
  margin-top: var(--spacing-6);

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        text-transform: uppercase;
        font-size: var(--font-size-2);
      }
    }

    th, td {
      padding: var(--spacing-6) 0;
      text-align: left;
      font-weight: 400;

      &:first-child {
        padding-left: var(--spacing-6);
      }

      &:last-child {
        padding-right: var(--spacing-6);
      }
    }

    tr {
      border-bottom: 1px solid var(--neutral-grey);
    }

    tbody {
      tr {
        &.clickable {
          cursor: pointer;

          &:hover {
            background: rgba(0,0,0,.035);
          }
        }

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background: rgba(0,0,0,.012);
        }
      }

      td {
        svg {
          position: relative;
          top: 2px;
          margin-right: var(--spacing-2);
        }
        .bold {
          font-weight: 700;
        }
        .title {
          font-weight: 900;
        }
        .arrowUp {
          display : inline-block;
          height : 0;
          width : 0;
          border-right : 6px solid transparent;
          border-bottom : 8px solid var(--color-done);
          border-left : 6px solid transparent;
          margin-left: var(--spacing-2);
        }
        .arrowDown {
          display : inline-block;
          height : 0;
          width : 0;
          border-right : 6px solid transparent;
          border-top : 8px solid var(--color-error);
          border-left : 6px solid transparent;
          margin-left: var(--spacing-2);
          position: relative;
          top: -1px;
        }
        .status {
          display : inline-block;
          border-radius: var(--border-radius);
          margin-right: var(--spacing-2);
          width: 12px;
          height: 12px;
          position: relative;
          top: 1px;

          &--green {
            background: var(--color-done);
          }

          &--orange {
            background: var(--color-warning);
          }

          &--red {
            background: var(--color-error);
          }
        }
      }
    }
  }
}