@import "variables";
@import "fonts";

// GLOBAL
body {
  background: var(--neutral-grey);
  display: flex;
  flex-direction: column;
  color: var(--neutral-black);
  font-family: 'Moderat', sans-serif;
  font-weight: 400;

  .nav-header {
    height: 80px;
    width: 100vw;
    overflow: hidden;
  }

  main {
    display: flex;

    .main-app {
      flex: 1;
      padding: var(--spacing-6);
    }
  }
}

p, h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

// UTILITY CLASS
.box-default {
  border-radius: var(--border-radius-2);
  background: var(--neutral-white);
  padding: var(--spacing-6);
}
