.btn {
  display: flex;
  align-items: center;
  width: fit-content;
  border-radius: var(--border-radius-1);
  padding: var(--spacing-4);
  cursor: pointer;
  background: var(--neutral-grey);
  color: var(--neutral-black);
  font-weight: 900;

  &--primary {
    background: var(--color-primary);
    color: var(--neutral-white);
  }

  &--error {
    background-color: var(--color-error);
    color: var(--neutral-white);
  }

  &__icon {
    margin-right: var(--spacing-3);
    height: var(--font-size-7);
  }

  &__text {
    margin: 0;
  }
}
